.card{
    width: 650px;
    background-color: #1F2A48;
    margin-top: 20px;
    border-radius: 13px;
    border: 1px solid transparent;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 600px;
}
