.container{
    height: 100%;
    margin: auto;
    width: 600px;
    padding-top:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin-left: 600px;

}
.devfinder{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.light{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}